/* In order to have the bootstrap match what I had orignally turned in I had to do a fair bit of my own CSS. But I was able to use 0 media queries */

/* These were just basic css to get the over all look a little closer to my original design by changing the default bootstrap values on certain things */

html {
    position: relative;
    min-height: 100%;
    background: url("../images/dark_embroidery.png") rgb(54, 54, 54);
  }
  
body {
    margin-bottom: 90px;
    background: url("../images/dark_embroidery.png") rgb(54, 54, 54);
  }

h1,
h2,
h3 { 
    font-weight: bold;
}

h1, h2, h3 {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}

/* I had to do A LOT to the navbar to get it to look right or even close to what I turned in the first time, but thanks to the inspect tool and much Google-fu I was able to get it almost the same. */

.navbar {
    background: #0b1c26;
    border: none;
    border-bottom: 2px solid #d97a43;
    height: 90px;
}

.navbar-brand {
    background: #084da6;
    text-align: center;
    height: 90px;
    padding: 5px 20px;
}

.navbar-brand h1 {
    color: #fff;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    background-color: #d97a43;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: transparent;
}

.navbar-nav li a {
    line-height: 50px;
    font-size: 1.3em;
    color: #666666;
    background: #0b1c26 !important; /* The !important tag is used to make sure that this personal CSS actually overrides the bootstrap CSS without having to get incredibly specific on the classes */
   }

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #084da6;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
    margin-top: 0;
}

/* After the navbar most everything else is pretty easy and I was able to almost copy and paste my css from my first assignment into here */

.content {
    background: #fff;
    border: 2px solid #777;
    padding: 0 30px 20px 30px;
    margin-bottom: 40px;
}

.content h1 {
    color: #084da6;
}

.page-header {
    border-bottom: 3px solid #f2a950;
}

p {
    font-size: 16px;
    color: #666;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.panel {
    background: #fff;
    border: 2px solid #777;
    border-radius: 0;
    padding: 0 10px;
}

.panel h3 {
    color: #084da6;
    font-size: 1.5em;
    margin-top: 0.83em 0 0.83em 0;
}

/* I had to remove a lot of the default bootstrap css on top of adding css to get the right look */

.panel-default > .panel-heading {
    background: #fff;
    border-radius: 0;
    border-bottom: 3px solid #f2a950;
    padding-left: 0;
    margin-top: 2px;
}

.thumbnail {
    border: none;
    margin: 0;
    padding: 0;
}

/* contact.html specific code */

input[type=submit] {
    background: #084da6;
    text-align: center;
    margin: 0 0 10px 0;
    color: #fff;
    font-size: 1em;
    padding: 10px 20px;
    width: 20%;
    border: none;
    outline: none;
    cursor: pointer;
}

form .btn-default:hover {
    background: #084da6;
    color: #fff;
    border: none;
}

form .btn-default:active {
    background: #d97a43 !important;
    color: #fff !important;
}

form .btn-default.focus, .btn-default:focus {
    background: #084da6;
    color: #fff;
    border: none;
}

/* portfolio.html specific code */

.gallery a img:hover {
    outline: 3px solid #084da6 !important;
    outline-offset: -3px !important;
}

.gallery {
    width: 100%;
	padding-bottom: 100%;
    position: relative;
    margin: 10px 0;
}

.gallery img {
    position: absolute;
	top: 0; 
	bottom: 0; 
	left: 0; 
	right: 0;
	min-height: 80%;
}

.thumbnail .caption {
    background: #084da6;
    color: white;
    text-align: center;
    font-size: 1em;
    font-family: 'Georgia', 'Times New Roman', Times, serif; 
    position: absolute;
    bottom: 10%;
}

.thumbnail .caption h3 {
    margin: 5px;
}

/* And finally for the footer, basic copy/paste from my first assignment with some addition so that the sticky footer works in bootstrap */

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;
    padding: 30px;
    background: #0b1c26;
    font-size: .95em;
    text-align: center;
    color: #073359;
    margin: 0;
    border-top: 10px solid #d97a43;
  }
